* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

main {
  height: 78vh;
}

body {
  background: linear-gradient(to top, #999 0%, #f5f5f5 100%);
}

.title {
  width: 100%;
  height: 100px;
  display: flex;
}

.title h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 50px 200px;
  color: rgba(92, 1, 211, 0.801);
}

#pageContent {
  width: 60%;
  height: 400px;
  padding: 20px 20px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(92, 1, 211, 0.801);
  border-radius: 15px;
}

#pageContent .printContainer,
.inputContainer {
  color: rgb(255, 255, 255);
  width: 350px;
  height: 400px;
}

.headTitle {
  height: 50px;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headTitle button {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: rgb(224, 0, 194);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.35);
}

.listContainer {
  border-collapse: collapse;
  width: 100%;
  height: 300px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.35);
  overflow-y: auto;
  overflow-x: hidden;
}

.listContainer li {
  list-style: none;
  padding: 8px;
  border-radius: 5px;
  color: rgb(224, 0, 194);
}

.listContainer li:nth-child(even) {
  background-color: rgba(92, 1, 211, 0.247);
}

.inputContainer .headTitle-1 {
  width: 60%;
  height: 50px;
  display: flex;
  margin: 0 0 10px;
  justify-content: space-between;
  align-items: center;
}

.inputField {
  position: relative;
  width: 60%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField input {
  height: 30px;
  padding: 0 10px;
  font-size: .9rem;
  color: rgb(43, 43, 43);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.35);
}

.inputField button {
  position: absolute;
  right: 0;
  top: 100px;
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: rgb(224, 0, 194);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.35);
}

.footer {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.footer p {
  color: rgb(145, 145, 145);
}
