* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(225, 227, 230);
  color: white;
}

.title {
  width: 100%;
  height: 100px;
  display: flex;
}

.title h1 {
  font-size: 3rem;
  margin: 50px 200px;
}

#pageContent {
  width: 60%;
  height: 55vh;
  padding: 20px 20px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(50, 0, 97, 0.801);
  border-radius: 15px;
}

#pageContent .printContainer,
.inputContainer {
  width: 350px;
  height: 500px;
}

.headTitle {
  height: 50px;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headTitle button {
  width: 100px;
  height: 30px;
}

.listContainer {
  border-collapse: collapse;
  width: 100%;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.listContainer li {
  list-style: none;
  padding: 8px;
}

.listContainer li:nth-child(even) {
  background-color: #f2f2f2;
}

.inputContainer .headTitle-1 {
  width: 60%;
  height: 50px;
  display: flex;
  margin: 0 0 10px;
  justify-content: space-between;
  align-items: center;
}

.inputField {
  position: relative;
  width: 60%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField input {
  height: 30px;
  padding: 0 10px;
  outline: none;
  border: 2px solid #000;
}

.inputField button {
  position: absolute;
  right: 0;
  top: 100px;
  width: 100px;
  height: 30px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.footer p {
  color: rgb(145, 145, 145);
}
